<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/f0db6a54ab.js" crossorigin="anonymous"></script>
</head>
<script>
     if (sessionStorage.getItem("player") == null){
        location.href = "/login"
     }
</script>



<body class="background">
<div class="k-grid">
    <main id="game">
    </main>
    <div id="list-puppets"> </div>
</div>


<div id="modal">
    <div class="close-modal" onclick="toggleBtnModal()">
        <img src="/assets/close.svg" alt="">
    </div>
    <div id="forms">
        <h2>CREAR UN POKEMON</h2>
        <form class="forms-puppets" action="/rest/new/pokemon" method="POST">
            <label>
                <span class="form__title">Nombre</span>
                <input type="text" name="name" required>
            </label>
            <br>
            <label>
                <span class="form__title">Tipo</span>
                <select name="pokemonType">
                    <option value="FIRE">Fuego</option>
                    <option value="WATER">Agua</option>
                    <option value="EARTH">Tierra</option>
                </select>
            </label>
            <br>
            <label>
                <span class="form__title">Color</span>
                <input type="text" name="colorType" required>
            </label>
            <input type="submit" class="btn" value="crear">
        </form>
        <h2>CREAR UN TAMAGOTCHI</h2>
        <form class="forms-puppets" action="/rest/new/tamagochi" method="POST">
            <label>
                <span class="form__title">Nombre</span>
                <input type="text" name="name" required>
            </label>
            <br>
            <label>
                <span class="form__title">Tipo</span>
                <select name="tamaType">
                    <option value="FEMALE">Femenino</option>
                    <option value="MALE">Masculino</option>
                </select>
            </label>
            <br>
            <label>
                <span class="form__title">Color</span>
                <input type="text" name="colorType" required>
            </label>
            <input type="submit" class="btn" value="crear">
        </form>
    </div>
</div>

<script src="/main.js"></script>
</body>

</html>