<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/global.css">
</head>
<style>
    a{color: blue}
</style>
<body>
<h1>Puppet Game v2.0.12</h1>

<div class="k-grid">
    <form action="/rest/login" method="POST">
        <label>
            <span class="form__title">Email</span>
            <input type="text" name="email">
        </label>
        <label>
            <span class="form__title">Contraseña</span>
            <input type="password" name="password">
        </label>
        <input type="submit" value="Iniciar sesión">
        <p>Nuevo en Puppet Game? <a href="/register">Crea una cuenta</a></p>
    </form>
</div>

</body>
</html>